header {
    background-color: #32587e;
    color: #FFF;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  
  nav ul {
    list-style: none;
    margin: auto auto auto;
    padding: 0;
    margin-left: 100px;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 100px;
  }
  
  nav ul li a {
    color: #FFF;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #34495E;
    font-size: larger;
    text-decoration: underline;
  }
